#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #444343;
}

* {
  box-sizing: border-box;
}

input,
label {
  display: block;
}

.card img {
  height: 190px;
  width: 100%;
  border-radius: 8px;
}

.card p {
  margin: 7px;
}

.card button {
  background-color: rgb(96, 95, 95);
}

.words-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 30px;
}

.card {
  width: 270px;
  justify-self: center;
  margin: 30px;
  color: rgb(33, 33, 33);
  border-radius: 8px;
}

.neutral {
  background-color: rgb(177, 217, 182);
}

.feminin {
  background-color: rgb(228, 201, 206);
}

.masculin {
  background-color: rgb(171, 189, 235);
}

.verb {
  background-color: rgb(92, 90, 87);
}

form {
  display: grid;
  justify-content: center;
  padding-top: 45px;
}

form label {
  color: rgb(33, 33, 33);
}

form input,
select {
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(96, 95, 95);
  border: none;
  margin: 5px;
}

form button {
  display: block;
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px;
  align-items: center;
}

.filter-item select {
  width: 70%;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  margin: 30px 5rem;
}

@media only screen and (min-width: 0) and (max-width: 700px) {
  .filter-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .filter-button  {
    grid-column: span 2;
    align-self: center;
  }
}
