#root {
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #444343;
}

* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: #888;
}

.nav-div {
  margin: 20px;
}

.link {
  color: #444343;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: #d0d1e9;
}

.active {
  color: rgb(19, 19, 19);
}

input,
label {
  display: block;
}

.card img {
  height: 190px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card p {
  margin: 7px;
}

.words-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 30px;
  margin: 4rem;
}

.card {
  width: 270px;
  justify-self: center;
  margin: 30px;
  color: rgb(33, 33, 33);
  border-radius: 8px;
}

.neutral {
  background-color: rgb(177, 217, 182);
}

.feminin {
  background-color: rgb(228, 201, 206);
}

.masculin {
  background-color: rgb(171, 189, 235);
}

.verb {
  background-color: rgb(223, 196, 156);
}

.editing-form {
  display: grid;
  justify-content: center;
  padding-top: 45px;
}

form label {
  color: rgb(33, 33, 33);
}

.editing-form input,
select {
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(96, 95, 95);
  border: none;
  margin: 5px;
}

form button {
  display: block;
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px;
  align-items: center;
}

.filter-item select {
  width: 70%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  background-color: rgb(96, 95, 95);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
  color: rgba(255, 255, 255, 0.87);
}
button:hover {
  border-color: #b3b4c9;
}
h2 {
  color: #9c9b9b;
  margin: 30px 0;
}

.addword-container {
  display: grid;
  justify-content: center;
  margin-bottom: 40px;
}

.addword-form {
  display: grid;
  justify-content: center;
  background-color: #888;
  width: 350px;
  padding-bottom: 15px;
  border-radius: 8px;
}

.addword-field {
  padding: 1rem;
  margin: 5px;
  display: grid;
}

.addword-field label {
  margin-bottom: 5px;
}

.addword-field input,
select {
  border-radius: 8px;
  background-color: rgb(96, 95, 95);
  border: none;
  padding: 8px;
}

@media only screen and (min-width: 0) and (max-width: 700px) {
  .filter-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .filter-button {
    grid-column: span 2;
    align-self: center;
  }
}
